In [2]:
import pandas as pd
df=pd.read_csv("income.CSV")
df

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [5]:
df[["2010"]]

    2010
0  40933
1  57848
2  46896
3  38587
4  54283

In [13]:
s=0
for i in df["2010"]:
    s=s+i
print(s)

238547

In [7]:
df.loc[1]

GEOID    04000US02
State       Alaska
2005         55891
2006         56418
2007         62993
2008         63989
2009         61604
2010         57848
2011         57431
2012         63648
2013         61137
Name: 1, dtype: object

In [14]:
s=0
for i in df.iloc[1,2:]:
    s=s+i
    print(s)

55891
112309
175302
239291
300895
358743
416174
479822
540959

In [15]:
df["2010"].sum()

238547

In [16]:
df.iloc[4,2:].sum()

498154

In [17]:
df.sum()

GEOID    04000US0104000US0204000US0404000US0504000US06
State           AlabamaAlaskaArizonaArkansasCalifornia
2005                                            226699
2006                                            233403
2007                                            264727
2008                                            251979
2009                                            239995
2010                                            238547
2011                                            243311
2012                                            250194
2013                                            250567
dtype: object

In [18]:
df.sum(1)

0    370138
1    540959
2    440711
3    349460
4    498154
dtype: int64

In [20]:
c=df.iloc[1:2,2:5].prod()
c.prod()

198633208784934

In [21]:
help(df.iloc)

Help on _iLocIndexer in module pandas.core.indexing object:

class _iLocIndexer(_LocationIndexer)
 |  Purely integer-location based indexing for selection by position.
 |
 |  ``.iloc[]`` is primarily integer position based (from ``0`` to
 |  ``length-1`` of the axis), but may also be used with a boolean
 |  array.
 |
 |  Allowed inputs are:
 |
 |  - An integer, e.g. ``5``.
 |  - A list or array of integers, e.g. ``[4, 3, 0]``.
 |  - A slice object with ints, e.g. ``1:7``.
 |  - A boolean array.
 |  - A ``callable`` function with one argument (the calling Series, DataFrame
 |    or Panel) and that returns valid output for indexing (one of the above).
 |    This is useful in method chains, when you don't have a reference to the
 |    calling object, but would like to base your selection on some value.
 |
 |  ``.iloc`` will raise ``IndexError`` if a requested indexer is
 |  out-of-bounds, except *slice* indexers which allow out-of-bounds
 |  indexing (this conforms with python/numpy *slice* semantics).
 |
 |  See more at ref:`Selection by Position <indexing.integer>`.
 |
 |  See Also
 |  --------
 |  DataFrame.iat : Fast integer location scalar accessor.
 |  DataFrame.loc : Purely label-location based indexer for selection by label.
 |  Series.iloc : Purely integer-location based indexing for
 |                 selection by position.
 |
 |  Examples
 |  --------
 |
 |  >>> mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
 |  ...           {'a': 100, 'b': 200, 'c': 300, 'd': 400},
 |  ...           {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]
 |  >>> df = pd.DataFrame(mydict)
 |  >>> df
 |        a     b     c     d
 |  0     1     2     3     4
 |  1   100   200   300   400
 |  2  1000  2000  3000  4000
 |
 |  **Indexing just the rows**
 |
 |  With a scalar integer.
 |
 |  >>> type(df.iloc[0])
 |  <class 'pandas.core.series.Series'>
 |  >>> df.iloc[0]
 |  a    1
 |  b    2
 |  c    3
 |  d    4
 |  Name: 0, dtype: int64
 |
 |  With a list of integers.
 |
 |  >>> df.iloc[[0]]
 |     a  b  c  d
 |  0  1  2  3  4
 |  >>> type(df.iloc[[0]])
 |  <class 'pandas.core.frame.DataFrame'>
 |
 |  >>> df.iloc[[0, 1]]
 |       a    b    c    d
 |  0    1    2    3    4
 |  1  100  200  300  400
 |
 |  With a `slice` object.
 |
 |  >>> df.iloc[:3]
 |        a     b     c     d
 |  0     1     2     3     4
 |  1   100   200   300   400
 |  2  1000  2000  3000  4000
 |
 |  With a boolean mask the same length as the index.
 |
 |  >>> df.iloc[[True, False, True]]
 |        a     b     c     d
 |  0     1     2     3     4
 |  2  1000  2000  3000  4000
 |
 |  With a callable, useful in method chains. The `x` passed
 |  to the ``lambda`` is the DataFrame being sliced. This selects
 |  the rows whose index label even.
 |
 |  >>> df.iloc[lambda x: x.index % 2 == 0]
 |        a     b     c     d
 |  0     1     2     3     4
 |  2  1000  2000  3000  4000
 |
 |  **Indexing both axes**
 |
 |  You can mix the indexer types for the index and columns. Use ``:`` to
 |  select the entire axis.
 |
 |  With scalar integers.
 |
 |  >>> df.iloc[0, 1]
 |  2
 |
 |  With lists of integers.
 |
 |  >>> df.iloc[[0, 2], [1, 3]]
 |        b     d
 |  0     2     4
 |  2  2000  4000
 |
 |  With `slice` objects.
 |
 |  >>> df.iloc[1:3, 0:3]
 |        a     b     c
 |  1   100   200   300
 |  2  1000  2000  3000
 |
 |  With a boolean array whose length matches the columns.
 |
 |  >>> df.iloc[:, [True, False, True, False]]
 |        a     c
 |  0     1     3
 |  1   100   300
 |  2  1000  3000
 |
 |  With a callable function that expects the Series or DataFrame.
 |
 |  >>> df.iloc[:, lambda df: [0, 2]]
 |        a     c
 |  0     1     3
 |  1   100   300
 |  2  1000  3000
 |
 |  Method resolution order:
 |      _iLocIndexer
 |      _LocationIndexer
 |      _NDFrameIndexer
 |      pandas._libs.indexing._NDFrameIndexerBase
 |      builtins.object
 |
 |  Methods inherited from _LocationIndexer:
 |
 |  __getitem__(self, key)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from _NDFrameIndexer:
 |
 |  __call__(self, axis=None)
 |      Call self as a function.
 |
 |  __iter__(self)
 |
 |  __setitem__(self, key, value)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from _NDFrameIndexer:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes inherited from _NDFrameIndexer:
 |
 |  axis = None
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from pandas._libs.indexing._NDFrameIndexerBase:
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __reduce__ = __reduce_cython__(...)
 |
 |  __setstate__ = __setstate_cython__(...)
 |
 |  ----------------------------------------------------------------------
 |  Static methods inherited from pandas._libs.indexing._NDFrameIndexerBase:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from pandas._libs.indexing._NDFrameIndexerBase:
 |
 |  name
 |
 |  ndim
 |
 |  obj

In [22]:
#mean() to find the average
print((df["2010"]).mean())
print(df.iloc[2,2:].mean())
# find the avg of 2011 column
#find the avg of 2 nd row

47709.4
48967.88888888889

In [23]:
# median
print(df["2011"].median())
print(df.iloc[2,2:].median())

48621.0
46914.0

In [25]:
#state  with highest average income in the last three years
f=df.iloc[0:,-3:].mean()
print(f)
print(f.max())

2011    48662.2
2012    50038.8
2013    50113.4
dtype: float64
50113.4

In [27]:

import pandas as pd
df=pd.read_csv("income.csv")
df head()

SyntaxError: invalid syntax (<ipython-input-27-2aae9835bb58>, line 3)

In [30]:
df.iloc[:,2:].mean(0)

2005    45339.8
2006    46680.6
2007    52945.4
2008    50395.8
2009    47999.0
2010    47709.4
2011    48662.2
2012    50038.8
2013    50113.4
dtype: float64

In [29]:

df.iloc[:,2:].mean(1)

0    41126.444444
1    60106.555556
2    48967.888889
3    38828.888889
4    55350.444444
dtype: float64

In [31]:
df.iloc[:,2:].mean(1).mean()

48876.04444444444

## state with highest average income in the last three years ##

In [3]:
df.iloc[:,-3:]

    2011   2012   2013
0  42590  43464  41381
1  57431  63648  61137
2  48621  47044  50602
3  41302  39018  39919
4  53367  57020  57528

In [4]:
df.iloc[:,-3:].mean(1)

0    42478.333333
1    60738.666667
2    48755.666667
3    40079.666667
4    55971.666667
dtype: float64

In [5]:
df["last three years avg"]=df.iloc[:,-3:].mean(1)
df

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013,last three years avg
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381,42478.333333
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137,60738.666667
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602,48755.666667
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919,40079.666667
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528,55971.666667

In [10]:
df["last three years avg"]==max(df["last three years avg"])

0    False
1     True
2    False
3    False
4    False
Name: last three years avg, dtype: bool

In [2]:
df["last three years avg"]== max(df["last three years avg"])].idex[0]

SyntaxError: invalid syntax (<ipython-input-2-9de022f76e92>, line 1)

## print the list of all states in the same  line with average income lessthan califoria

## print the names of states based on descending order of income in the year 2009

In [1]:
a=df.iloc[:,6]

NameError: name 'df' is not defined