### tuples ###

 # it is  collection of different data types sepaRETED BY , and with () #

In [2]:
t=(1,8,9,45,"hello pooja")
t

(1, 8, 9, 45, 'hello pooja')

In [3]:
type(t)

tuple

In [4]:
dir (tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [5]:
help(tuple.count)

Help on method_descriptor:

count(self, value, /)
    Return number of occurrences of value.

In [15]:
t.count("hello")
t

(1, 8, 9, 45, 'hello pooja')

In [19]:
print(t*2)

(1, 8, 9, 45, 'hello pooja', 1, 8, 9, 45, 'hello pooja')

In [21]:
t1=(1,2,3,"kvsw","kk")
type(t1)

tuple

In [22]:
print(t1+t)

(1, 2, 3, 'kvsw', 'kk', 1, 8, 9, 45, 'hello pooja')

In [23]:
print(t1*2)

(1, 2, 3, 'kvsw', 'kk', 1, 2, 3, 'kvsw', 'kk')

# set
 it is collection of elements separated by , enclosed {}.it  does'nt has index the elements unordered

In [26]:
se={1,6,7,8,9}
type(se)
print(se)

{1, 6, 7, 8, 9}

In [1]:
se={ "apple","banana","mango"}
print(type(s))
s

NameError: name 's' is not defined

In [29]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [30]:
help(set.add)

Help on method_descriptor:

add(...)
    Add an element to a set.

    This has no effect if the element is already present.

In [31]:
se.add(33)
se

{33, 'apple', 'banana', 'mango'}

In [33]:
se.clear()
se

set()

In [34]:
set={3,4,5,6,7,8}
set

{3, 4, 5, 6, 7, 8}

In [37]:
setcopy=set1.copy()
print(setcopy)
print(set1)

NameError: name 'set1' is not defined

In [43]:
x={1,2,4,7,8}
y={3,4,7,8,5}
z=x.difference(y)
z1=y.difference(x)
print(z)
print(z1)

{1, 2}
{3, 5}

In [48]:
x.isdisjoint(y)
print(y.isdisjoint(x))

False

In [49]:
x

{1, 2, 4, 7, 8}

In [50]:
y

{3, 4, 5, 7, 8}

In [53]:
help(set.union)

Help on built-in function union:

union(...) method of builtins.set instance
    Return the union of sets as a new set.

    (i.e. all elements that are in either set.)

In [54]:
print(x.union(y))

{1, 2, 3, 4, 5, 7, 8}

In [56]:
print(x.intersection(y))

{8, 4, 7}

In [58]:
# element accesing in sts
s_t={5,7,9,8,2}
for kvsw in s_t:
    print(kvsw,end=",")

2,5,7,8,9,

In [59]:
x

{1, 2, 4, 7, 8}

In [60]:
y

{3, 4, 5, 7, 8}

In [61]:
y.update(x)
y

{1, 2, 3, 4, 5, 7, 8}

In [62]:
y

{1, 2, 3, 4, 5, 7, 8}

In [64]:
help(set.symmetric_difference)

Help on built-in function symmetric_difference:

symmetric_difference(...) method of builtins.set instance
    Return the symmetric difference of two sets as a new set.

    (i.e. all elements that are in exactly one of the sets.)

In [70]:
z=x.symmetric_difference(y)
z

{3, 5}

In [71]:
y

{1, 2, 3, 4, 5, 7, 8}

In [73]:
x.pop()
x

{2, 4, 7, 8}

In [74]:
x.pop()
x

{4, 7, 8}

In [75]:
y.remove(8)
y

{1, 2, 3, 4, 5, 7}

In [78]:
y.discard(5)
y

{1, 2, 3, 4, 7}

In [1]:
li=[1,3,4,5,8]
print(type(li),li)
x=set(li)
print(type(x),x)

<class 'list'> [1, 3, 4, 5, 8]
<class 'set'> {1, 3, 4, 5, 8}

In [1]:
s=list(set(map(int,input().split())))

5 6 7 8 8 9